<!DOCTYPE html>
<html>
  <head>
    <header><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtDE_aNeN5S3O5mY91Mvkl9WLubZa-C4p3E1LaQKn6stXY2urB&usqp=CAU" height="200" width="800" /></header>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>

  <body id="page-top">
    <h1 style="color:blue;">Welcome to ConcertTracker!</h1>
    <h3>Log in or Sign up if you're a newcomer!</h3>
    <form method="POST" action='/account'>
      <label for "username">Username:</label>
      <input type="text" id="username" name="username">
      <br />
      <label for "password">Password:</label>
      <input type="text" id="password" name="password">
      <br />
      <input type="submit" value="Log In">
    </form>
    <form method="POST" action='/signup'>
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>