<h1>Edit <%= @venues.name %></h1>

<form action="/venues/<%=@venues.id%>" method="POST">
  <label> Venue Name </label>
  <input type="text" name="name" value="<%=@venues.name %>"> </br>

  <label> Venue Locale </label>
  <input type="text" name="city" value="<%=@venues.city %>"> </br>

  <input type="submit" value="Update">
</form>