<head>
  <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
</head>
<h1>Your List of Venues Visited</h1>

<h2>You may view Performers associated with a Venue, as well as, edit details of each Venue</h2>

<p><form method="GET" action='/account'>
    <input type="submit" value="Home">
</form></p>

<p><form method="GET" action='/venues/new'>
    <input type="submit" value="Add Venue">
</form></p>

<% @venues.each do |ven| %>
  <strong>Venue:</strong> <%= ven.name %> <strong>Locale:</strong> <%= ven.city %><br />
  <a href="/venues/<%=ven.id%>/edit">Edit</a>
  <a href="/venues/<%=ven.id%>/delete">Delete</a>
  <br />
  <br />
<% end %>