<h1>Add a New Venue!</h1>

<form action="/venues" method="POST">
  <label> Venue Name </label>
  <input type="text" name="name"> </br>

  <label> City/Locale </label>
  <input type="text" name="city"> </br>

  <input type="submit" value="Create">
</form>
