<h1>Add a New Venue!</h1>

<form action="/venues" method="POST">
  <label> Venue Name </label>
  <input type="text" name="name"> </br>

  <label> City/Locale </label>
  <input type="text" name="city"> </br>
  
  <% @performers.each do |per| %>
  <input type="checkbox" name="performer_venues[performer_id][]" performer_id="<%= per.id %>" value="<%= per.id %>"><%= per.name %><br>
<% end %>

  <input type="submit" value="Create">
</form>
