  <h2>Add Performer:</h2>
  
<form action="/venues/<%=@venues.id%>/add" method="POST">  
<% @user.performers.each do |per| %>
  <input type="checkbox" name="venue[performer_ids][]" id="<%= per.id %>" value="<%= per.id %>"><%= per.name %><br>
<% end %>

  <h3>Create New Performer:</h3>
  <label>Performer Name: </label>
  <br>
  <input type="text" name="performer[name]" id="name"></input>
  <br>
  <label>Performer Genre: </label>
  <br>
  <input type="text" name="performer[genre]" id="genre"></input>
  <br><br>
  

  
  <input type="submit" value="Add Performer">
</form>
</body>