<h1>Edit <%= @performers.name %></h1>

<form action="/performers/<%=@performers.id %>" method="POST">
  <label> Band/Performer Name </label>
  <input type="text" name="name" value="<%=@performers.name %>"> </br>

  <label> Genre </label>
  <input type="text" name="manufacturer" value="<%=@performers.genre%>"> </br>



  <input type="submit" value="Update">
</form>
