<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Error! New Performer Requires a Name!</h1>
   <p><form method="GET" action='/venues/new'>
    <input type="submit" value="Add Venue">
    </form></p>

  </body>
</html>