<h1>Add a New Band/Performer</h1>

<form action="/performers" method="POST">
  <label> Name </label>
  <input type="text" name="name"> </br>

  <label> Genre </label>
  <input type="text" name="genre"> </br>



  <input type="submit" value="Create">
</form>