<body style="background-color:rgb(47, 79, 79);">
<h1>Add a New Band/Performer</h1>

<form action="/performers" method="POST">
  <label> Name </label>
  <input type="text" name="performer[name]"> </br>

  <label> Genre </label>
  <input type="text" name="performer[genre]"> </br>
  
  <label> Times Seen </label>
  <input type="integer" name="performer[times_seen]"> </br>

<% @user.venues.each do |ven| %>
  <input type="checkbox" name="performer[venue_ids][]" id="<%= ven.id %>" value="<%= ven.id %>"><%= ven.name %><br>
<% end %>

  <h3>Create New Venue:</h3>
  <label>Venue Name: </label>
  <br>
  <input type="text" name="venue[name]" id="name"></input>
  <br>
  <label>Venue Locale: </label>
  <br>
  <input type="text" name="venue[city]" id="city"></input>
  <br><br>
 
  <input type="submit" value="Create">
</form>
</body>