   <body style="background-color:rgb(47, 79, 79);">
<h2>Sign up to start tracking your concert journey!</h2>


<h3>Sign Up!</h3>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>
</body>