<h1>Sign Up for an Account</h1>
<p>Please enter your details below to create a new user account</p>
<form method="POST" action="/signup">
  <label><strong>Username:</strong><input type = "text" name="username" id="username"><br><br>
  <label><strong>Password:</strong><input type="text" name="password" id="password"><br><br>

  <input type="submit" value="Create Account">
</form>